h1, h2, h3{
    margin: 0;
}

.header {
    text-align: center;
    background-color: rgba(65, 65, 65, 0.12);

}

.info {
    margin: 150px;
    text-decoration: none;
}

.info span{
    color: rgb(63, 63, 63);
}

.info a {
    text-decoration: none;
}
