.header {
    text-align: center;
    text-decoration: none;
    margin-top: 25px;
}

.info {
    margin-left: 150px;
    margin-top: 150px;
    text-decoration: none;
}

.info span{
    color: rgb(63, 63, 63);
}
