body {
    background-color: rgb(255, 255, 0);
    margin: 0px;
}

.header {
    text-align: center;
    text-decoration: none;
    margin-top: 0px;
    background-color: rgba(90, 90, 90, 0.493);
}

.info {
    margin-left: 150px;
    margin-top: 150px;
    text-decoration: none;
}

.info span{
    color: rgb(63, 63, 63);
}

.info a {
    text-decoration: none;
}
